* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 155px;
}

.child-1-container {
  padding: 20px 0px 50px 24px;
  font-family: 'Inconsolata';
}

.title-not-found{
  font-size: 18px;
  font-weight: 550;
  letter-spacing: -0.090em;
  text-transform: uppercase;
  padding-bottom: 64px;
}

.scarecrow-img {
  background: url("./scarecrow.png") center/cover no-repeat;
  height: 238px;
  width: 288px;
}

.child-2-container {
  font-family: Space Mono;
  flex-direction: row;
  padding: 60px 0px 0px 24px;
}

.bad-news-title {
  color: #333333;
  font-size: 43px;
  font-weight: bold;
  letter-spacing: -0.035em;
  padding-bottom: 30px;
}

.info-to-user {
  color: #4F4F4F;
  font-size: 18px;
  letter-spacing: -0.035em;
  padding-bottom: 66px;
}

.button {
  background: #333333;
  color: #FFFFFF;
  font-size: 14px;
  font-family: Space Mono;
  height: 68px;
  line-height: 4.5em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 216px;
}

@media (min-width: 960px) {

  .container {
    flex-direction: row;
    padding-bottom: 349px;
  }

  .child-1-container {
    padding: 40px 0px 0px 77px;
  }

  .title-not-found {
    font-size: 24px;
  }

  .scarecrow-img {
    height: 447px;
    width: 539px;
  }

  .child-2-container {
    font-family: Space Mono;
    flex-direction: row;
    padding: 265px 0px 0px 119px;
  }

  .bad-news-title {
    font-size: 64px;
    width: 586px;
    padding-bottom: 36px;
  }

  .info-to-user {
    font-size: 24px;
    width: 381px;
    padding-bottom: 64px;
  }
}
